.padding-global-4 {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .padding-global-4 {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.padding-global-4.padding-section-medium {
  position: relative;
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .padding-global-4.padding-section-medium {
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global-4.padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .journey_first-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container-large-6 {
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.journeys_first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey_first-grid {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .journey_first-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.journey_card {
  width: 25rem;
}

.journey_card.is-explore {
  width: 30rem;
}

@media screen and (max-width: 479px) {
  .journey_card.is-explore {
    /* width:11.5rem; */
    width: 100%;
    max-width: 30rem;
  }
}

.journey_card.is-view {
  width: 30rem;
}

@media screen and (max-width: 479px) {
  .journey_card.is-view {
    /* width:11.5rem; */
    width: 100%;
    max-width: 30rem;
  }
}

.journey_card.is-begin {
  width: 30rem;
}

@media screen and (max-width: 767px) {
  .journey_card,
  .journey_card.is-explore,
  .journey_card.is-view,
  .journey_card.is-begin {
    width: 100%;
    max-width: 30rem;
  }
}

@media screen and (max-width: 479px) {
  .journey_card.is-begin {
    /* width:11.5rem; */
    width: 100%;
    max-width: 30rem;
  }
}

.journey_card-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.journey_card-img {
  display: flex;
  width: 100%;
  height: 30rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: flex-end;

  border-radius: 1.5rem;

  /* background-image: url("https://cdn.prod.website-files.com/692ea98b8849e347f04bc413/6931518b86973cc762dfafd9_offers1-compress.webp"); */
  background-image: url("/Your Parenting Dynamic.png");

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.journey_card-img.is-ask {
  position: relative;
  padding-bottom: 1.5rem;
  background-image: url("/Ask me anything.png");

  /* background-image: url("https://cdn.prod.website-files.com/692ea98b8849e347f04bc413/6931591b1cab83ecb27d1170_offers4-compress.webp"); */
}

@media screen and (max-width: 479px) {
  .journey_card-img.is-ask {
    height: 11.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.8rem;
  }
}

.journey_card-img.is-parenting {
  position: relative;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 479px) {
  .journey_card-img.is-parenting {
    position: relative;
    height: 11.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.8rem;
  }
}

.journey_card-img.is-emotional {
  position: relative;
  padding-bottom: 1.5rem;
  background-image: url("/Your Emotions.png");
  /* background-image: url("https://cdn.prod.website-files.com/692ea98b8849e347f04bc413/693158bc42fd6808f20ee932_offers2-compress.webp"); */
}

@media screen and (max-width: 479px) {
  .journey_card-img.is-emotional {
    height: 11.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.8rem;
  }
}

.journey_card-img.is-ingredients {
  position: relative;
  padding-bottom: 1.5rem;
  background-image: url("/Your Energy.png");

  /* background-image: url("https://cdn.prod.website-files.com/692ea98b8849e347f04bc413/693158ce94ac28aa2fa5275c_offers3-compress.webp"); */
}

@media screen and (max-width: 479px) {
  .journey_card-img.is-ingredients {
    height: 11.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.8rem;
  }
}

.journey_btn {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #fcbd97;
  color: #333;
  text-decoration: none;
}

.journey_btn.is-begin {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .journey_btn.is-begin {
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}

.journey_btn-text {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .journey_btn-text {
    font-size: 1.5rem;
  }
}

.img_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: hsla(0, 0%, 100%, 0.3);
}

@media screen and (max-width: 479px) {
  .img_overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    background-color: hsla(0, 0%, 100%, 0.35);
  }
}

.journey_card-text {
  font-family: Poppins;
  font-size: 2.4rem;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .journey_card-text {
    font-size: 1rem;
    font-weight: 700;
  }
}

.link-block {
  position: relative;
  z-index: 1;

  padding: 1.5rem 2rem;

  border-radius: 1rem;

  background-color: hsla(0, 0%, 100%, 1);

  color: #333;
  text-decoration: none;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .link-block {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}

.link-block.small {
  position: relative;
  z-index: 1;
  padding: 1rem;
}

@media screen and (max-width: 479px) {
  .link-block.small {
    padding: 0.3rem 0.8rem;
  }
}

.journey_bnt-text {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .journey_bnt-text {
    font-size: 1.5rem;
  }
}

.journey_bnt-text.small {
  font-size: 2rem;
}

@media screen and (max-width: 479px) {
  .journey_bnt-text.small {
    font-size: 1rem;
  }
}

.link-block-2 {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #e2e7ff;
  color: #333;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .link-block-2 {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}

.link-block-2.small {
  position: relative;
  z-index: 1;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .link-block-2.small {
    padding: 0.3rem 0.8rem;
  }
}
