.nav_onbording {
  width: 100%;
  background-color: #333;
}

.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 2rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-global.padding-section-medium {
  position: static;
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding: 2rem 1rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-global.padding-section-medium {
  position: relative;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}

.padding-global.padding-section5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section5 {
    padding: 1rem 0.5rem;
  }
}

.padding-custom1 {
  padding: 1.5rem;
}

.padding-global.padding-section7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-global.padding-section-small {
  border-radius: 10px;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container-large {
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large.background-color-alternate {
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

.background-color-alternate {
  background-color: #dadada;
}

.promo_bar-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.promo_bar {
  display: flex;
  padding: 0.5rem 0.83rem;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  background-color: #252526;
}

.promo_bar-text {
  font-family: Quicksand;
  color: #fcbd94;
  font-size: 1rem;
}

@media screen and (max-width: 991px) {
  .promo_bar-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .promo_bar-text {
    font-size: 1.2rem;
  }
}

.nav_container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .nav_container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .brand {
    padding-left: 0px;
  }
}

.image {
  height: 2.78rem;
}

@media screen and (max-width: 991px) {
  .image {
    height: 4.5rem;
  }
}

@media screen and (max-width: 479px) {
  .image {
    height: 3.2rem;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 479px) {
  .nav-menu {
    display: flex;
    padding: 1rem 1.5rem 2rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;

    border-radius: 1.5rem;

    background-color: #252526;
  }
}

.nav-link {
  padding: 1.39rem;

  font-family: Quicksand;
  color: hsla(0, 0.00%, 100.00%, 0.50);
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.nav-link:global(.w--current) {
  color: var(--coral);
}

@media screen and (max-width: 991px) {
  .nav-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 991px) {
  .nav-link:global(.w--current) {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .soul_drop {
    width: 100%;
  }
}

.soul_drop.mob {
  display: none;
}

@media screen and (max-width: 479px) {
  .soul_drop.mob {
    display: none;
  }
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.dropdown-toggle {
  padding: 1.39rem;
  font-family: Quicksand;
  color: hsla(0, 0.00%, 100.00%, 0.50);
  font-weight: 700;
}

.dropdown-toggle:global(.w--open) {
  color: var(--coral);
}

.icon {
  display: none;
  margin-right: 0rem;
  font-size: 1rem;
}

.text-block-2 {
  font-size: 1.2rem;
}

@media screen and (max-width: 991px) {
  .text-block-2 {
    font-size: 1.8rem;
  }
}

.soul_drop-list {
  border-radius: 1.39rem;
}

.soul_drop-list:global(.w--open) {
  padding: 1rem;
  font-family: Quicksand;
  font-weight: 700;
}

.soul_link {
  margin-bottom: 0.5rem;
  padding: 0.83rem 1.25rem;
  line-height: 120%;
}

.soul_link:hover {
  color: hsla(28, 82.06%, 55.40%, 1.00);
}

.soul_link:global(.w--current) {
  color: #eb8730;
}

@media screen and (max-width: 479px) {
  .soul_link {
    font-size: 1.5rem;
  }
}

.nav-link-2 {
  padding: 1.39rem;

  font-family: Quicksand;
  color: hsla(0, 0.00%, 100.00%, 0.50);
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.nav-link-2:global(.w--current) {
  color: var(--coral);
}

@media screen and (max-width: 991px) {
  .nav-link-2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .nav-link-2 {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--white20);
  }
}

.menu_bnt {
  padding: 1rem 4rem;
  border-radius: 2.1rem;
}

.menu_bnt.background-color-secondary {
  padding-right: 3.5rem;
  padding-left: 3.5rem;

  background-color: #fcbd97;

  transition: background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.menu_bnt.background-color-secondary:hover {
  background-color: var(--light-grey);
}

@media screen and (max-width: 991px) {
  .menu_bnt.background-color-secondary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .menu_bnt.background-color-secondary {
    width: 100%;
  }
}

.background-color-secondary {
  background-color: #fcbd94;
}

.menu_bnt.background-color-secondary {
  padding-right: 3.5rem;
  padding-left: 3.5rem;

  background-color: #fcbd97;

  transition: background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.menu_bnt.background-color-secondary:hover {
  background-color: #dadada;
}

@media screen and (max-width: 991px) {
  .menu_bnt.background-color-secondary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .menu_bnt.background-color-secondary {
    width: 100%;
  }
}

.menu_bnt.background-color-secondary {
  padding-right: 3.5rem;
  padding-left: 3.5rem;

  background-color: #fcbd97;

  transition: background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.menu_bnt.background-color-secondary:hover {
  background-color: #dadada;
}

@media screen and (max-width: 991px) {
  .menu_bnt.background-color-secondary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .menu_bnt.background-color-secondary {
    width: 100%;
  }
}

.menu_bnt.background-color-secondary {
  padding-right: 3.5rem;
  padding-left: 3.5rem;

  background-color: #fcbd97;

  transition: background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
}

.menu_bnt.background-color-secondary:hover {
  background-color: #dadada;
}

@media screen and (max-width: 991px) {
  .menu_bnt.background-color-secondary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .menu_bnt.background-color-secondary {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .nav_menu-bnt {
    border: 1px solid var(--white20);
    border-radius: 1rem;
    color: var(--light-grey);
  }
}

@media screen and (max-width: 479px) {
  .nav_menu-bnt:global(.w--open) {
    background-color: var(--balck);
    color: var(--coral);
  }
}