.container-large-5 {
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large-5.personal {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 479px) {
  .container-large-5.personal {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 0rem;
  }
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom3 {
  overflow: hidden;
}

.margin-custom3 {
  margin: 3.5rem;
}

.margin-bottom.margin-custom3.desc {
  display: none;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.desc {
    display: none;
  }
}

.margin-bottom.margin-custom3.mob {
  display: none;
  margin-top: 0rem;
  margin-bottom: 3.4rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.mob {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.last {
    margin-bottom: 0rem;
  }
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  overflow: hidden;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xxlarge {
  overflow: hidden;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-xxlarge.love {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom.margin-custom10 {
  margin-bottom: 10rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom10 {
    margin-bottom: 6rem;
  }
}

.margin-custom1 {
  margin: 1.5rem;
}

.margin-xhuge {
  margin: 8rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-custom4 {
  margin-bottom: 4rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom4 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
  line-height: 100%;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2.personal {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.personal {
    text-align: center;
  }
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom2.over-vis {
  overflow: visible;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.over-vis {
    margin-bottom: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xhuge {
    margin-bottom: 5rem;
  }
}

.margin-bottom.margin-custom1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom1 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-huge {
    margin-bottom: 2rem;
  }
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom.margin-custom5 {
  margin-bottom: 5rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom5 {
    margin-bottom: 3rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

.onbording_heading {
  line-height: 140%;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .onbording_heading {
    font-size: 2rem;
    line-height: 140%;
  }
}

@media screen and (max-width: 479px) {
  .onbording_heading.italic {
    font-style: italic;
  }
}

@media screen and (max-width: 479px) {
  .onbording_heading.padding_left {
    padding-left: 1rem;
    font-size: 2rem;
  }
}

.personal_content-wrapper {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}

@media screen and (max-width: 479px) {
  .personal_content-wrapper {
    margin-bottom: 2rem;
    padding-left: 0rem;
  }
}

.first_part {
  margin-bottom: 2rem;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 42%,
    hsla(22.574257425742577, 94.39%, 79.02%, 0.05)
  );
}

@media screen and (max-width: 479px) {
  .first_part {
    margin-bottom: 1rem;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 1) 61%,
      hsla(22.574257425742577, 94.39%, 79.02%, 0.05)
    );
  }
}

.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 2rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-global.padding-section-medium {
  position: static;
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding: 2rem 1rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-global.padding-section-medium {
  position: relative;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}

.padding-global.padding-section5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section5 {
    padding: 1rem 0.5rem;
  }
}

.padding-custom1 {
  padding: 1.5rem;
}

.padding-global.padding-section7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-global.padding-section-small {
  border-radius: 10px;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.paragraph {
  max-width: 80.2rem;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 1.6rem;
  text-align: left;
}

.text-color-primary {
  color: #333;
}

@media screen and (max-width: 479px) {
  .paragraph.text-color-primary.max-width-medium {
    padding-left: 1rem;
  }
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.paragraph.max-width-large {
  max-width: 41rem;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.paragraph.big {
  font-size: 2.5rem;
  line-height: 160%;
}

@media screen and (max-width: 479px) {
  .paragraph.big {
    font-size: 2rem;
  }
}

.paragraph.big.text-align-center {
  margin-bottom: 0px;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.paragraph.big.text-align-center.bold {
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-align-center.bold {
    font-weight: 700;
  }
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.paragraph.big.text-align-center.max-width-70 {
  max-width: 76.5rem;
}

.paragraph.big.text-align-center.max-width-76-5 {
  max-width: 76.5rem;
}

.paragraph.big.text-color-primary {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-color-primary {
    margin-left: 0rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-color-primary.personal {
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: left;
  }
}

.paragraph.big.text-color-primary.personal {
  text-align: left;
}

.paragraph.big.text-color-primary.personal.bold {
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-color-primary.personal.bold {
    font-weight: 700;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-color-primary.onbord {
    margin-left: 0rem;
    font-size: 1.2rem;
  }
}

.paragraph.big.text-color-primary.bold {
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .paragraph.big.text-color-primary.text-align-center {
    margin-left: 0rem;
    line-height: 140%;
    text-align: left;
  }
}

.paragraph.text-align-center.max-width-xxsmall {
  max-width: 39.8rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-color-alternate {
  color: #fcbd94;
}

@media screen and (max-width: 479px) {
  .paragraph.text-align-center.big.text-color-alternate.bold {
    font-weight: 700;
  }
}

.paragraph.poppins {
  font-family: Poppins;
}

.paragraph.small {
  font-size: 1.6rem;
}

.paragraph.small.text-align-center {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
}

.paragraph.xsmall {
  font-size: 1.5rem;
}

@media screen and (max-width: 479px) {
  .paragraph.mob {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.mob.onbord {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.text-color-primary {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.text-color-primary.max-widht10 {
    max-width: 20rem;
    margin-left: 2rem;
  }
}

.paragraph.text-color-primary.bold {
  position: relative;
  z-index: 1;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .paragraph.text-color-primary.bold {
    margin-left: 0rem;
  }
}

.second_part {
  margin-bottom: 2rem;
  background-image: linear-gradient(
    180deg,
    hsla(22.574257425742577, 94.39%, 79.02%, 0.6),
    hsla(229.65517241379308, 100%, 94.31%, 0.6)
  );
}

@media screen and (max-width: 479px) {
  .second_part {
    margin-bottom: 1rem;
    background-image: linear-gradient(
      180deg,
      hsla(22.574257425742577, 94.39%, 79.02%, 0.6),
      hsla(229.65517241379308, 100%, 94.31%, 0.6)
    );
  }
}

.birth_item-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 1.4rem;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .birth_item-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.birth_item-wrapper.personal {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

@media screen and (max-width: 479px) {
  .birth_item-wrapper.personal {
    margin-bottom: 1.35rem;
    margin-left: 1rem;
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.birth_item-wrapper.personal.last {
  margin-bottom: 1.5rem;
}

.birth_item-dot {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 1rem;
  flex: 0 0 auto;

  border-radius: 100%;

  background-color: #333;
}

@media screen and (max-width: 479px) {
  .birth_item-dot {
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
    flex: 0 0 auto;
  }
}

.birth_item-text {
  font-family: Quicksand;
  font-size: 1.5rem;
}

@media screen and (max-width: 479px) {
  .birth_item-text {
    font-size: 1.2rem;
  }
}

.birth_item-text.personal {
  font-size: 2.5rem;
  line-height: 1.2;
}

@media screen and (max-width: 479px) {
  .birth_item-text.personal {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.third_part {
  background-image: linear-gradient(
    180deg,
    hsla(229.65517241379308, 100%, 94.31%, 0.6),
    #f6f4f2 77%
  );
}

.personal_form-wrapper {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.personal_form {
  width: 75%;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .personal_form {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }
}

.text_area-wrapper {
  height: 15rem;
}

@media screen and (max-width: 479px) {
  .text_area-wrapper {
    height: 9rem;
  }
}

.personal_text-area {
  min-height: 15rem;
  margin-bottom: 0px;

  border-radius: 1.5rem;

  font-family: Quicksand;
  color: #333;
  font-size: 2rem;
}

@media screen and (max-width: 479px) {
  .personal_text-area {
    min-height: 9rem;

    border: 1px none black;
    border-radius: 1rem;

    font-family: Quicksand;
    color: #7c7c7c;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) {
  .personal_text-area::placeholder {
    font-family: Quicksand;
    font-size: 1.2rem;
  }
}

._500ch_max.text-align-right {
  margin-top: -3.5rem;
  margin-right: 2rem;
  font-family: Quicksand;
  color: #7c7c7c;
}

@media screen and (max-width: 479px) {
  ._500ch_max.text-align-right {
    margin-top: -2rem;
    margin-right: 1.2rem;
    font-family: Quicksand;
    color: hsla(0, 0%, 48.67%, 1);
    font-size: 1rem;
  }
}

.text-align-right {
  text-align: right;
}

.submit-button-2 {
  display: none;
}

@media screen and (max-width: 479px) {
  .submit-button-2 {
    display: none;
  }
}

.onbording_names-navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 479px) {
  .onbording_names-navigation {
    /* justify-content: flex-start;
    align-items: flex-start; */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.back_bnt {
  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0);
}

.back_bnt-icon {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  background-color: hsla(0, 0%, 100%, 1);
}

@media screen and (max-width: 479px) {
  .back_bnt-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.icon_img {
  cursor: pointer;
}

.back_text {
  font-family: Poppins;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .back_text {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 500;
  }
}

.btn-onboarding {
  display: flex;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #fcbd97;
  border-radius: 3.47rem;

  background-color: #fcbd97;

  transition: border-color 300ms ease, background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;
}

.btn-onboarding:hover {
  border-color: #333;
  background-color: #dadada;
}

@media screen and (max-width: 479px) {
  .btn-onboarding {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}

.btn-onboarding.onbord {
  width: 20rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .btn-onboarding.onbord {
    width: 15rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
  }
}
