.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 2rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-global.padding-section-medium {
  position: static;
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding: 2rem 1rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-global.padding-section-medium {
  position: relative;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}

.padding-global.padding-section5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section5 {
    padding: 1rem 0.5rem;
  }
}

.padding-custom1 {
  padding: 1.5rem;
}

.padding-global.padding-section7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-global.padding-section-small {
  border-radius: 10px;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container-large-5 {
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.container-large-5.personal {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 479px) {
  .container-large-5.personal {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.onboarding_reflection_2-wrapper {
  display: flex;
  margin-bottom: 6rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .onboarding_reflection_2-wrapper {
    margin-bottom: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.progress_bar-wrapper {
  display: flex;
  margin-bottom: 3rem;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .progress_bar-wrapper {
    margin-bottom: 2rem;
  }
}

.step_text {
  margin-right: 2rem;
  font-family: Poppins;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 479px) {
  .step_text {
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
  }
}

.progress_bar {
  width: 40rem;
  height: 4rem;
  border-radius: 8rem;
  background-color: #cfe6ff;
}

@media screen and (max-width: 479px) {
  .step_number {
    width: 15rem;
    height: 2.5rem;
  }
}

.progress_bar-step4 {
  width: 100%;
  height: 4rem;
  border-radius: 8rem;
  background-color: #eed2eb;
}

@media screen and (max-width: 479px) {
  .progress_bar-step4 {
    height: 100%;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 0rem;
  }
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom3 {
  overflow: hidden;
}

.margin-custom3 {
  margin: 3.5rem;
}

.margin-bottom.margin-custom3.desc {
  display: none;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.desc {
    display: none;
  }
}

.margin-bottom.margin-custom3.mob {
  display: none;
  margin-top: 0rem;
  margin-bottom: 3.4rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.mob {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.last {
    margin-bottom: 0rem;
  }
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  overflow: hidden;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xxlarge {
  overflow: hidden;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-xxlarge.love {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom.margin-custom10 {
  margin-bottom: 10rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom10 {
    margin-bottom: 6rem;
  }
}

.margin-custom1 {
  margin: 1.5rem;
}

.margin-xhuge {
  margin: 8rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-custom4 {
  margin-bottom: 4rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom4 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
  line-height: 100%;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2.personal {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.personal {
    text-align: center;
  }
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom2.over-vis {
  overflow: visible;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.over-vis {
    margin-bottom: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xhuge {
    margin-bottom: 5rem;
  }
}

.margin-bottom.margin-custom1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom1 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-huge {
    margin-bottom: 2rem;
  }
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom.margin-custom5 {
  margin-bottom: 5rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom5 {
    margin-bottom: 3rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

.reflection_heading-text {
  font-family: Poppins;
  font-size: 2.5rem;
  line-height: 140%;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .reflection_heading-text {
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 130%;
    font-weight: 500;
  }
}

.reflection_form-wrapper {
  width: 60%;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;

  border-radius: 1.5rem;

  background-color: hsla(0, 0%, 100%, 1);
}

@media screen and (max-width: 479px) {
  .reflection_form-wrapper {
    width: 100%;
    margin-bottom: 4rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;

    border-radius: 1rem;

    background-color: hsla(0, 0%, 100%, 1);
  }
}

.submit-button-4 {
  display: none;
}

@media screen and (max-width: 479px) {
  .submit-button-4 {
    display: none;
  }
}

.reflection_radio-fild {
  position: relative;
  z-index: 1;

  display: flex;
  margin-bottom: 2rem;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .reflection_radio-fild {
    margin-bottom: 1.5rem;
    font-family: Quicksand;
    font-weight: 700;
  }
}

.dot_first {
  position: absolute;

  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;

  border: 1.3px solid black;
  border-radius: 100%;
}

@media screen and (max-width: 479px) {
  .dot_first {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 1.5px;
    border-color: hsla(0, 0%, 20%, 0.4);
  }
}

.dot_color {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 1rem;
  height: 1rem;

  border-radius: 100%;

  background-color: #fcbd97;

  opacity: 0;
}

@media screen and (max-width: 479px) {
  .dot_color {
    width: 0.6rem;
    height: 0.6rem;
  }
}

.reflection_radio-bnt {
  position: absolute;
  z-index: 1;

  width: 23.3rem;
  height: 1.8rem;
  margin-top: 0px;
  margin-left: 0px;

  opacity: 0;
}

@media screen and (max-width: 479px) {
  .reflection_radio-bnt {
    opacity: 0;
  }
}

.reflection_bnt-label {
  margin-left: 2.8rem;
  font-family: Quicksand;
  line-height: 120%;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .reflection_bnt-label {
    font-family: Quicksand;
    font-size: 1.2rem;
    line-height: 120%;
    font-weight: 700;
  }
}

.reflection_bnt-label.birth {
  font-family: Quicksand;
  font-size: 1.5rem;
}

@media screen and (max-width: 479px) {
  .reflection_bnt-label.birth {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.onbording_names-navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 479px) {
  .onbording_names-navigation {
    justify-content: center;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.back_bnt {
  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0);
}

.back_bnt-icon {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  background-color: hsla(0, 0%, 100%, 1);
}

@media screen and (max-width: 479px) {
  .back_bnt-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.icon_img {
  cursor: pointer;
}

.back_text {
  font-family: Poppins;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .back_text {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 500;
  }
}

.btn-onboarding {
  display: flex;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #fcbd97;
  border-radius: 3.47rem;

  background-color: #fcbd97;

  transition: border-color 300ms ease, background-color 300ms ease;

  font-family: Quicksand;
  color: #333;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;
}

.btn-onboarding:hover {
  border-color: #333;
  background-color: #dadada;
}

@media screen and (max-width: 479px) {
  .btn-onboarding {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}

.btn-onboarding.onbord {
  width: 20rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .btn-onboarding.onbord {
    width: 15rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
  }
}
