.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 2rem;
  }
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-global.padding-section-medium {
  position: static;
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding: 2rem 1rem;
  }
}

.padding-section-medium {
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    /* padding-top: 4rem;
    padding-bottom: 4rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.padding-global.padding-section-medium {
  position: relative;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-medium {
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}

.padding-global.padding-section5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section5 {
    padding: 1rem 0.5rem;
  }
}

.padding-custom1 {
  padding: 1.5rem;
}

.padding-global.padding-section7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-global.padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-global.padding-section-small {
  border-radius: 10px;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container-large {
  width: 100%;
  /* max-width: 90rem; */
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.container-large.background-color-alternate {
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

.background-color-alternate {
  background-color: #dadada;
}

.signup_wrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  align-items: stretch;

  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
  .signup_wrap {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .signup_wrap {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.signup_img-wrap {
  display: flex;
  width: 100%;
  max-width: 50%;
  /* padding-right: 4rem;
  padding-left: 4rem; */
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  min-height: auto;
  border-radius: 2rem;
  background-color: #dde3ff;
}

@media screen and (max-width: 991px) {
  .signup_img-wrap {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .signup_img-wrap {
    max-width: none;
    padding: 1rem 2rem;
  }
}

.sign_heading-wrapper {
  display: flex;
  margin-bottom: 4rem;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .sign_heading-wrapper {
    margin-bottom: 1.5rem;
  }
}

.sign_heading-wrapper.login {
  margin-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .sign_heading-wrapper.login {
    /* margin-bottom: 2rem; */
    margin-bottom: 1.5rem;
  }
}

.sign_heading {
  font-family: Poppins;
  /* font-size: 3.5rem; */
  font-size: 2.8rem;
  line-height: 100%;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .sign_heading {
    /* font-size: 3.3rem; */
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .sign_heading {
    font-size: 1.8rem;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 0rem;
  }
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom3 {
  overflow: hidden;
}

.margin-custom3 {
  margin: 3.5rem;
}

.margin-bottom.margin-custom3.desc {
  display: none;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.desc {
    display: none;
  }
}

.margin-bottom.margin-custom3.mob {
  display: none;
  margin-top: 0rem;
  margin-bottom: 3.4rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.mob {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3.last {
    margin-bottom: 0rem;
  }
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  overflow: hidden;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xxlarge {
  overflow: hidden;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-xxlarge.love {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom.margin-custom10 {
  margin-bottom: 10rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom10 {
    margin-bottom: 6rem;
  }
}

.margin-custom1 {
  margin: 1.5rem;
}

.margin-xhuge {
  margin: 8rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-custom4 {
  margin-bottom: 4rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom4 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2 {
  overflow: hidden;
  line-height: 100%;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2 {
    margin-bottom: 2rem;
  }
}

.margin-bottom.margin-custom2.personal {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.personal {
    text-align: center;
  }
}

.margin-bottom.margin-custom2.last {
  margin-bottom: 0rem;
}

.margin-bottom.margin-custom2.over-vis {
  overflow: visible;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom2.over-vis {
    margin-bottom: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-xhuge {
    margin-bottom: 5rem;
  }
}

.margin-bottom.margin-custom1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom1 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-huge {
    margin-bottom: 2rem;
  }
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom.margin-custom5 {
  margin-bottom: 5rem;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom5 {
    margin-bottom: 3rem;
  }
}

.margin-bottom.margin-custom3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .margin-bottom.margin-custom3 {
    margin-bottom: 2rem;
  }
}

.sign_subtitle {
  font-family: Poppins;
  font-size: 2rem;
  line-height: 140%;
}

.sign_subtitle.text-align-center {
  line-height: 150%;
}

@media screen and (max-width: 479px) {
  .sign_subtitle.text-align-center {
    font-size: 1.2rem;
  }
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.signin_link {
  color: #333;
  text-decoration: none;
}

.sign_bnt {
  padding: 2rem 2.5rem;
  border: 1.4px solid black;
  border-radius: 2rem;
}

@media screen and (max-width: 479px) {
  .sign_bnt {
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
  }
}

.sign_bnt-text {
  font-family: Quicksand;
  font-size: 2rem;
  line-height: 100%;
}

@media screen and (max-width: 479px) {
  .sign_bnt-text {
    font-family: Quicksand;
    font-size: 1.2rem;
  }
}

.signup_content {
  display: flex;
  width: 100%;
  max-width: 50%;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  border-radius: 2rem;

  background-color: white;
}

@media screen and (max-width: 991px) {
  .signup_content {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .signup_content {
    padding: 1rem;
  }
}

.sign_img {
  width: 7rem;
  height: 6rem;
}

@media screen and (max-width: 479px) {
  .sign_img {
    width: 6rem;
    height: 5rem;
  }
}

.sign_img.login {
  margin-bottom: 3rem;
}

@media screen and (max-width: 479px) {
  .sign_img.login {
    margin-bottom: 1rem;
  }
}

.signup_form-block {
  width: 100%;
  margin-bottom: 0px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.signup_input-wrap {
  position: relative;
  margin-bottom: 2rem;
}

.signup_input-wrap.pass {
  margin-bottom: 1rem;
}

.signup_input-wrap.confirm {
  margin-bottom: 2rem;
}

@media screen and (max-width: 479px) {
  .signup_input-wrap.confirm {
    margin-bottom: 1.5rem;
  }
}

.signup_input-wrap.email {
  margin-bottom: 1rem;
}

.signup_field-label {
  margin-bottom: 0.8rem;
  font-family: Quicksand;
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .signup_field-label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

.signup_input {
  height: 5rem;
  margin-bottom: 0px;
  padding: 1rem 2rem 1rem 1.25rem;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(11, 23, 48, 0.2);
  border-radius: 0.8rem;

  font-family: Quicksand;
  color: black;
  font-size: 1.5rem;
}

.signup_input::placeholder {
  font-family: Quicksand;
  color: rgba(11, 23, 48, 0.4);
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .signup_input {
    height: 4rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) {
  .signup_input::placeholder {
    font-size: 1.2rem;
  }
}

.login_passwords-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .login_passwords-wrap {
    display: flex;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .login_passwords-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }
}

.show-password-tabs {
  position: absolute;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 12px;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 479px) {
  .show-password-tabs {
    display: none;
  }
}

.show-password-button {
  display: flex;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}

.tab-link-tab-1 {
  padding: 0px;
  background-color: hsla(0, 0%, 0%, 0);
}

.tab-link-tab-1:global(.w--current) {
  display: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 0%, 0);
}

.code-embed {
  display: none;
  width: 16px;
  justify-content: center;
  align-items: center;
  color: rgba(11, 23, 48, 0.4);
}

.hide {
  display: none;
}

.signup_submit-button {
  height: 5rem;
  margin-bottom: 0.8rem;
  padding-top: 0px;
  padding-bottom: 0px;

  border: 1px solid transparent;
  border-radius: 0.8rem;

  background-color: var(--coral);

  font-family: Poppins;
  color: #333;
  font-size: 2.5rem;
  font-weight: 400;
}

.signup_submit-button:hover {
  border-color: rgba(11, 23, 48, 0.8);
  background-color: transparent;
  color: rgba(11, 23, 48, 0.8);
}

@media screen and (max-width: 991px) {
  .signup_submit-button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .signup_submit-button {
    height: 4rem;
    font-size: 1.8rem;
  }
}
